@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

:root {
	--white: #fff;
	--lightblue: #1283b9;
	--darkblue: #06435f;

}

header {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: url(../img/balaton_bg.jpg) no-repeat center;
	background-size: cover;
}

header h1 {
	font-family: "Marhey", sans-serif;
	text-transform: uppercase;
	color: var(--white);
	text-shadow: #000 0 5px 10px;
}

nav {
	background-color: var(--darkblue);
}

.nav-link:focus {
	background-color: rgba(255, 255, 255, 0.2);
}

h2 {
	font-family: "Marhey", sans-serif;
	font-variant: small-caps;
	color: var(--lightblue);
	text-decoration: underline wavy;
}

table {
	border-collapse: collapse;
	box-shadow: 0 0 5px #000;
	background-color: rgba(18, 132, 185, 0.1);
}

th {
	color: var(--white);
	font-family: "Marhey", sans-serif;
}

tr {
	border-bottom: solid #000 1px;
}

tr:hover {
	background-color: rgba(18, 132, 185, 0.6);
}

.table-head-1 {
	background-color: var(--lightblue);
	text-align: center;
	padding: 0.5rem 0;
	border: none !important;
}

.table-head-2 {
	background-color: var(--darkblue);
	text-align: center;
	padding: 0.5rem 0;
	border: none !important;
}

.table-head-3 {
	color: var(--darkblue);
	font-weight: bold;
	padding: 1rem;
	font-variant: small-caps;
}

.image-grid .big-img {
	grid-column: span 2;
	grid-row: span 2;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: grayscale(60%);
  transition: all 1s ease;
  cursor: pointer;
}

.image-grid img:hover {
  filter: grayscale(0);
  transform: scale(1.04);
  cursor: pointer;
}

footer {
	position: relative;
	margin-top: 1rem;

}

footer h3 {
	font-family: "Marhey", sans-serif;
	color: var(--white);
	text-shadow: #000 0 5px 10px;
	position: absolute;
	bottom: 1.5rem;
	left: 0;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 992px) {
	
}