@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

:root {
	--white: #fff;
	--lightblue: #1283b9;
	--darkblue: #06435f;

}

header {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: url(../img/balaton_bg.jpg) no-repeat center;
	background-size: cover;
}

header h1 {
	font-family: "Marhey", sans-serif;
	text-transform: uppercase;
	color: var(--white);
	text-shadow: #000 0 5px 10px;
}